//基本設定
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right,rgb(10, 236, 209),rgb(48, 103, 167));
  overflow: hidden;
  position: relative;
}
//header-area
nav{
  display: flex;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  font-weight: 120;
  position: sticky;
  z-index: 100;
}

.nav-links{
  flex: 1;
  text-align: right;
  li{
    list-style: none;
  }
  ul li{
    display: inline-block;
    padding: 0 2rem;
  }
  ul a{
    font-weight: 600;
    color: white;
    text-decoration: none;
    :hover{
      color: rgb(153, 218, 24);
      transition: 0.3s;
    }
  }
}

.logo-area{
  display: flex;
  align-items: center;
}

.logo{
  width: 20%;
  height: 20%;
  margin-right: 12px;
}

.infomation{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: -5%;
  right: 10%;
  transform: translateY(-50%);
}

#circle{
  width: 900px;
  height: 900px;
  // background: #ccc;
  position: absolute;
  border-radius: 50%;
  top: 119px;
  left: -75px;
  transform: rotate(0deg);
  transition:1s;
}

.feature{
  display: flex;
  position: absolute;
  color: white;

  img{
    width: 70px;
  }

  div{
    margin-left: 20px;
    a{
      margin-top:8px ;
    }
  }
  
  &.one{
    top: 300px;
    right: 55px;
  }

  &.two{
    top: 90px;
    left: 175px;
    transform: rotate(-90deg);
  }
  &.three{
    bottom: 300px;
    left: 40px;
    transform: rotate(-180deg);
  }
  &.four{
    bottom: 140px;
    right: 215px;
    transform: rotate(-270deg);
  }
}
.pc{
  width: 450px;
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 100;
}

.control{
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  text-align: center;

  img{
    width: 15%;
  }
  h3{
    color: #fff;
    margin: 20px 0;
  }
}
#upBtn{
  cursor: pointer;
}
#downBtn{
  cursor: pointer;
  transform: rotate(-180deg);
}

.overlay{
  width: 0;
  height: 0;
  border-top: 450px solid #fff;
  border-right: 450px solid transparent;
  border-left: 450px solid #fff;
  border-bottom: 450px solid #fff;
}


